<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/CSS/style2.css">
</head>

<body>
    <!-- Include Header -->
    <%- include("header") %>

    <div class="container">
        <div class="formBox">
            <form action="/addUser" method="POST" name="FormFill" onsubmit="return validation()">
                <h2>Sign-Up</h2>
                <p id="result"></p>

                <div class="inputBox">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" name="Name" placeholder="Name" required>
                </div>

                <div class="inputBox">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="email" name="Email" placeholder="Email" required>
                </div>

                <div class="inputBox">
                    <i class="fa-solid fa-phone"></i>
                    <input type="text" name="Phone" placeholder="Phone" required>
                </div>

                <div class="inputBox">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" name="Password" placeholder="Password" required>
                </div>

                <div class="inputBox">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" name="ConfirmPassword" placeholder="Confirm Password" required>
                </div>

                <div class="button">
                    <input type="submit" class="btn" value="Sign-Up">
                </div>

                <div class="group">
                    <span><a href="#">Forget Password</a></span>
                    <span><a href="/signin">Login</a></span>
                </div>
            </form>
        </div>
    </div>

    <script src="/scripts/signup.js"></script>

    <!-- Include Footer -->
    <%- include("footer") %>
</body>
</html>
